body
{
background-color:green;
}

#outer
{
height:1200px;
width:800px;
margin:0px auto;
}

#menu
{
	height:50px;
	width:800px;
	background-color:white;
	border-radius:20px 20px 0px 0px;
	border:1px solid white;
	
}


#menu ul
{
	text-decoration:none;
}

#menu ul li
{
	display:inline;
	padding:10px;
	
	
}

#menu ul li a
{
	text-decoration:none;
	text-align:center;
	color:gray;
}
#box
{
	height:300px;
	width:10px;
	border:1px solid white;
	
	

}

#slider
{
	height:250px;
	width:800px;
	margin-top:5px;
	background-image:url('sofa.png');
	
	
}

#parent
{
	height:600px;
	width:800px;
	margin-top:10px;
	

}
#left
{
	height:600px;
	width:600px;
	float:left;
	background-color:white;
	border-radius:0px 0px 0px 20px;
}
#right
{
	height:600px;
	width:200px;
	float:right;
	background-color:lightgray;	
	border-radius:0px 0px 20px 0px;
}
#up
{
	height:195px;
	width:195px;
	border:0px solid lightgray;
	margin:0px auto;
	background-color:lightgray;	
}
#down
{
	height:395px;
	width:195px;
	border:1px solid lightgray;
	margin:0px auto;
	background-color:lightgray;	
	border-radius:0px 0px 20px 0px;
}

#footer
{
	height:260px;
	width:800px;
	background-color:white;
	margin-top:20px;
	border:1px solid white;
	border-radius:20px 20px 20px 20px;

}
.one
{
	height:240px;
	width:240px;
	border:1px solid white;
	margin-top:10px;
	float:left;
	margin-left:17px;
}

#first
{
	height:50px;
	width:600px;
	float:left;
}
#second
{
    height:50px;
	width:200px;
	float:right;
	margin-top:10px;
}
#x1
{
    height:260px;
	width:560px;
	margin:0px auto;
}
#x2
{
    height:260px;
	width:600px;
	border:1px solid lightgray;
}
#z1
{
    height:260px;
	width:560px;
	margin:0px auto;
}

#x3
{
    height:80px;
	width:560px;
	margin:0px auto;
}
#y1
{
    height:50px;
	width:560px;
	margin:0px auto;
}

#y2
{
    height:130px;
	width:560px;
	margin:0px auto;
}

#y3
{
    height:80px;
	width:560px;
	margin:0px auto;
}



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



